<h3>Ask a Question</h3>
<p class="showerror">{{error}}</p>
<form #questionForm="ngForm" class="question-form">
    <mat-form-field hintLabel="10-60 characters">
        <input matInput placeholder="Title" type="text" name="title" required [(ngModel)]="question.QuestionTitle" #title="ngModel" minlength="10" maxlength="60">
        <mat-hint align="end">{{title.value?.length || 0}} / 60</mat-hint>
    </mat-form-field>
    
    <div fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="10px" fxLayoutGap.xs="0" class="tags">
        <mat-form-field fxFlex="30%">
            <mat-select placeholder="Add Tags" [(ngModel)]="selectedCategory" name="category" (change)="updateTagsToShow()" required>
                <mat-option *ngFor="let cat of tagList" value="{{cat.categoryName}}">{{cat.categoryName}}</mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field fxFlex="70%">
            <mat-select [(ngModel)]="selectedTags" name="tags" multiple required>
                <mat-option *ngFor="let t of filteredTagList.tags" value="{{t.tagId}}">{{t.tagName}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    
    <quill-editor class="editor" [(ngModel)]="question.QuestionText" name="content" #content="ngModel"></quill-editor>

    <button [disabled]="!questionForm.valid" mat-raised-button color="primary" (click)="addQuestion()" >Ask</button>
</form>