@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.showerror {
  color: darkred;
  font-style: italic;
  margin: 10px auto;
  font-size: 80%;
}


.flex-spacer {
  flex-grow: 1;
}

mat-chip {
  border-radius: 5px;
  padding: 4px;
  margin-right: 8px;
}

<<<<<<< HEAD
.spacer { 
  flex: 1 1 auto;
=======
.edit-icon {
  border-radius: 5px;
  border: .1px solid gray;
  padding: 2px;
>>>>>>> markup
}