@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.showerror {
  color: darkred;
  font-style: italic;
}


.flex-spacer {
  flex-grow: 1;
}

mat-chip {
  border-radius: 5px;
  padding: 4px;
  margin-right: 8px;
}

.spacefromheader {
  height: 64px;
}