<h3>Edit Question</h3>
<form #questionForm="ngForm" class="question-form">
    <mat-form-field hintLabel="10-60 characters">
        <input matInput placeholder="Title" type="text" name="title" required [(ngModel)]="data.title" #title="ngModel" minlength="10" maxlength="60">
        <mat-hint align="end">{{title.value?.length || 0}} / 60</mat-hint>
    </mat-form-field>
    
    <quill-editor [(ngModel)]="data.content" name="content" #content="ngModel"></quill-editor>
    <br>
    
    <button mat-raised-button (click)="cancel()">Cancel</button>
    <button [disabled]="!questionForm.valid || (data.content && data.content.length < 20)" mat-raised-button color="primary" [mat-dialog-close]="data">Update</button>
</form>