<div class="container">
    <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <div fxFlex="67%">
            <mat-toolbar-row class="question">
                <h3 class="title">{{question.questionTitle}}</h3>
                <span class="spacer"></span>
                <button mat-raised-button class="votebutton" color="primary" [disabled]="!question.canVote" (click)="voteForQuestion(question.questionId)">+{{question.votes}}</button>
            </mat-toolbar-row>
            <p [innerHTML]="question.questionText"></p>
            <p class="taginfo">Tags: <mat-chip *ngIf="question.stack" color="primary" selected="false">{{question.stack}}</mat-chip> <mat-chip selected="false" color="accent" *ngFor="let t of question.tagsString">{{t}}</mat-chip> </p>
        </div>
        <mat-divider [vertical]="true" fxFlex="3%"></mat-divider>
        <div fxFlex="30%" class="info">
            <p>asked by: {{question.askedByFirstName}} {{question.askedByLastName}}</p>
            <p>asked on: {{question.createdAt | date: 'dd MMM yy h:mm a'}}</p>
            <p><button mat-button color="warn" (click)="editQuestion()" *ngIf="question.askedById==userId">Edit</button></p>
        </div>
    </div>

    <mat-card *ngFor="let ans of question.answers">
        <mat-card-content fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <p [innerHTML]="ans.answerText" fxFlex="67%"></p>
            <mat-divider [vertical]="true"></mat-divider>
            <div fxFlex="33%" class="info">
                <p>answered by: {{ans.answeredByName}}</p>
                <p>answered on: {{ans.answeredDate | date: 'dd MMM yy h:mm a'}}</p>
                <p *ngIf="ans.answeredById==userId">
                    <button mat-button color="warn" (click)="editAnswer(ans.answerId)">Edit</button> | 
                    <button mat-button color="warn" (click)="deleteAnswer(ans.answerId)">Delete</button>
                </p>
                <button mat-raised-button color="primary" (click)="voteForAnswer(ans.answerId)">+{{ans.votes}}</button>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <form (submit)="submitAnswer(); answerForm.reset();" #answerForm="ngForm">
            <h4>Add Your Answer</h4>
            <quill-editor [(ngModel)]="newAnswer.answerText" name="content" #content="ngModel"></quill-editor>
            <br>
            <button [disabled]="newAnswer.answerText && newAnswer.answerText.length < 20" mat-raised-button color="primary">Answer</button>      
        </form>
    </mat-card>
</div>