<h3>Edit Question</h3>
<form #questionForm="ngForm" class="question-form">
    <mat-form-field hintLabel="10-60 characters">
        <input matInput placeholder="Title" type="text" name="title" required [(ngModel)]="data.title" #title="ngModel" minlength="10" maxlength="60">
        <mat-hint align="end">{{title.value?.length || 0}} / 60</mat-hint>
    </mat-form-field>

    <mat-form-field hintLabel="at least 20 characters">
        <textarea matInput name="content" required [(ngModel)]="data.content" #content="ngModel" minlength="20" placeholder="Detailed Description"></textarea>
        <mat-hint align="end">{{content.value?.length || 0}} characters</mat-hint>
    </mat-form-field>
    
    <button mat-raised-button (click)="cancel()">Cancel</button>
    <button [disabled]="!questionForm.valid" mat-raised-button color="primary" [mat-dialog-close]="data">Update</button>
</form>