<mat-toolbar>
    <mat-toolbar-row>
        <span>Leaderboard</span>
    </mat-toolbar-row>
</mat-toolbar>

<div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">
    <mat-table fxFlex="50%" [dataSource]="questionLeadersData">
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Student Name </mat-header-cell>
            <mat-cell *matCellDef="let student"> {{student.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="count">
            <mat-header-cell *matHeaderCellDef> Votes </mat-header-cell>
            <mat-cell *matCellDef="let student"> {{student.count}} </mat-cell>
        </ng-container>
            
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-table fxFlex="50%" [dataSource]="answerLeadersData">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Student Name </mat-header-cell>
                <mat-cell *matCellDef="let student"> {{student.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="count">
                <mat-header-cell *matHeaderCellDef> Votes </mat-header-cell>
                <mat-cell *matCellDef="let student"> {{student.count}} </mat-cell>
            </ng-container>
                
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
</div>
