<mat-tab-group>
    <mat-tab label="Login">
            <form (submit)="userlogin()" #loginForm="ngForm"> 
                    <div>
                    <mat-form-field>
                        <input matInput placeholder="Email Address" type="email" id="email" name="email" required [(ngModel)]="login.Email" #email="ngModel" autocomplete="off">
                    </mat-form-field>
                    </div>
                
                    <div>
                    <mat-form-field>
                        <input matInput placeholder="Password" type="password" name="lpassword" required [(ngModel)]="login.Password" #lpassword="ngModel" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{6,}$" matTooltip="at least 6 characters, including at least 1 upper, 1 lower, 1 number, and 1 special character">
                    </mat-form-field>
                    </div>
            
                    <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Log In</button>
                </form>
    </mat-tab>
    <mat-tab label="Registration">
            <form (submit)="userlogin()" #loginForm="ngForm"> 
                    <div>
                    <mat-form-field>
                        <input matInput placeholder="Email Address" type="email" id="email" name="email" required [(ngModel)]="login.Email" #email="ngModel" autocomplete="off">
                    </mat-form-field>
                    </div>
                
                    <div>
                    <mat-form-field>
                        <input matInput placeholder="Password" type="password" name="lpassword" required [(ngModel)]="login.Password" #lpassword="ngModel" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{6,}$" matTooltip="at least 6 characters, including at least 1 upper, 1 lower, 1 number, and 1 special character">
                    </mat-form-field>
                    </div>
            
                    <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Log In</button>
                </form>
    </mat-tab>
</mat-tab-group>

<!-- <mat-card class="home-card">
    <mat-card-header *ngIf="loginerrors">
        <mat-card-title>{{loginerrors}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    
    </mat-card-content>
</mat-card> -->