.home-form {
    display: flex;
    flex-direction: column;
}

.home-form > mat-form-field {
    width: 70%;
    margin: 0 auto;
    padding-top: 5%;
} 

.submit-button {
    width: 40px;
    margin: 20px auto;
}