@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

* {
  font-family: 'Roboto', sans-serif;
}

#dojo {
  font-family: 'Fredericka the Great', cursive;
}

#sidenav {
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightgray;
}

#sidenav > p > button {
  text-align: center;
  margin: 0 auto;
}

mat-icon {
  font-family: 'Material Icons';
}