<div id="page-container">
  <mat-toolbar color="primary" class="mat-elevation-z6" id="header">
      <mat-toolbar-row>
          <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
          <span id="dojo">DOJO | questions</span>
          <span class="fill-width"></span>
          <mat-icon [routerLink]="['/feedback']" matTooltip="submit feedback" matTooltipPosition="left">help_outline</mat-icon>
      </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened fixedInViewport="false" fixedTopGap="0" fixedBottomGap="0" class="mat-elevation-z4">
        <p><button mat-button [routerLink]="['/home/login']" *ngIf="!loggedIn">Login</button></p>
        <p><button mat-button [routerLink]="['/home/registration']" *ngIf="!loggedIn">Registration</button></p>
        <p><button mat-button [routerLink]="['/questions/all']" *ngIf="loggedIn">Search</button></p>
        <p><button mat-button [routerLink]="['/profile']" *ngIf="loggedIn">Profile</button></p>
        <p><button mat-button [routerLink]="['/leaderboard']"*ngIf="loggedIn">Rankings</button></p>
        <p><button mat-button [routerLink]="['/logout']" *ngIf="loggedIn">Log Out</button></p>
    </mat-sidenav>
    <router-outlet class="main-content"></router-outlet>
  </mat-sidenav-container>
</div>