@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

* {
  font-family: 'Roboto', sans-serif;
}

mat-icon {
  font-family: 'Material Icons';
}

#page-container {
  width: 100%;
}

  #header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }
    #dojo {
      font-family: 'Fredericka the Great', cursive;
    }
    .fill-width {
      flex: 1 1 auto;
    }

  mat-sidenav-container {
    width: 100%;
    /* position: absolute; */
    top: 60px;
    left: 0;
    z-index: 0;
    min-height: 250px;
  }
    #sidenav {
      position: fixed;
      z-index: 1;
      padding-left: 3%;
      padding-right: 3%;
      display: flex;
      flex-wrap: nowrap;
      align-items: stretch;
      justify-content: flex-start;
      align-content: stretch;
      height: 100%;
    }