<!-- search bar -->
<div class="fullwidth">
    <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="0">
        <input [(ngModel)]="searchStr" class="mat-elevation-z2 searchbar" fxFlex="60%" placeholder="search...">
        <div fxFlex="5%"></div>
        <select class="mat-elevation-z2 searchbar" fxFlex="35%" [(ngModel)]="searchStack"> <!-- (change)="updateTagsToShow()" -->
            <option value="">any</option>
            <option *ngFor="let s of allStacks" [value]="s.categoryName">{{s.categoryName}}</option>
        </select>
    </div>
</div>
<!-- <div class="fullwidth">
    <p class="taginfo" *ngIf="filteredTagList.tags.length > 0">Include Tags: 
        <span *ngFor="let t of filteredTagList.tags; let i = index">
            <input type="checkbox" class="checkbox" [(ngModel)]="searchTags[i].selected">{{t.tagName}}
        </span>
    </p>
</div> -->

<mat-card *ngFor="let q of allQuestions | searchfilter:searchStr:searchStack:searchTags" [routerLink]="['/questions', q.questionId]">
    <mat-card-content class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <mat-divider [vertical]="true"></mat-divider>
        <div class="question" fxFlex="75%">
            <mat-card-title>{{q.questionTitle}}</mat-card-title>
            <p class="questionText">{{q.questionText | stripHtml | truncate : 100}}</p>
            <p>Tags: <mat-chip *ngIf="q.stack" color="primary" selected="true">{{q.stack}}</mat-chip><mat-chip selected="true" color="accent" *ngFor="let t of q.tagsString">{{t}}</mat-chip></p>
        </div>
        <div class="summary" fxFlex="20%">
            <div class="row">
                <div fxFlex="50%">
                    <p>Answers</p>
                    <p>{{q.answers.length}}</p>
                </div>
                <div fxFlex="50%">
                    <p>Votes</p>
                    <p>{{q.votes}}</p>
                </div>
            </div>
            <p class="smallinfo">Asked by {{q.askedByFirstName}} {{q.askedByLastName}}</p>
            <p class="smallinfo">{{q.createdAt | date: 'dd MMM yyyy h:mm a'}}</p>
        </div>
    </mat-card-content>  
</mat-card>

<footer>
    <p>Couldn't find your answer?</p>
    <button mat-raised-button color="accent" [routerLink]="['/questions/ask']">Ask a Question</button>
</footer>