mat-card {
    box-sizing: border-box;
    width: 95%;
    margin: 15px auto;
    padding: 2%;
}

.fullwidth {
    width: 95%;
    margin: 20px auto;
}

.searchbar {
    width: 100%;
    height: 35px;
    padding: 5px 3px;
    border-radius: 3%;
}

.stackfilter {
    vertical-align: top;

}

.summary {
    text-align: center;
}

footer {
    text-align: center;
    margin-bottom: 20px;
}

.smallinfo {
    font-size: 80%;
    color: gray;
}

.questionText {
    margin-top: 30px;
    margin-bottom: 30px;
}

mat-card-title {
    margin-top: 15px;
}