<h1>Questions</h1>
<!-- search bar -->
<p><input type="text" placeholder="search..." class="form-control" [(ngModel)]="searchStr"></p>
<input type="hidden" [(ngModel)]="searchTags" [value]="searchTags">
<!-- advanced filters: select tags -->
<!-- <div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="#collapse1" data-toggle="collapse" data-parent="#accordion">Filter by Tags</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="col-sm-2" *ngFor="let c of allTags">
                    <p><i>{{c.categoryName}}</i></p>
                    <p *ngFor="let t of c.tags"><input type="checkbox" (click)="addFilterTag($event.target.value)" value="{{t.tagName}}"> {{t.tagName}}</p>
                </div>
            </div>
        </div>
    </div>
</div> -->

<p></p>
<p></p>

  <mat-card *ngFor="let q of allQuestions | searchfilter:searchStr:searchTags">
      <mat-card-content class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <div class="left-summary" fxFlex="15%">
            <div fxFlex="50%">
                <p>Answers</p>
                <p>{{q.answers.length}}</p>
            </div>
            <div fxFlex="50%">
                <p>Votes</p>
                <p>{{q.votes}}</p>
            </div>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="right-question" fxFlex="75%">
            <mat-card-title><a (click)="answerQuestion(q.questionId)">{{q.questionTitle}}</a></mat-card-title>
            <mat-card-subtitle>Asked by {{q.askedByFirstName}} {{q.askedByLastName}} ({{q.createdAt | date: 'dd MMM yyyy HH:mm a'}})</mat-card-subtitle>
            <p>{{q.questionText | truncate : 125}}</p>
            <p>Tags: <mat-chip *ngIf="q.stack" color="primary" selected="true">{{q.stack}}</mat-chip> <mat-chip selected="true" color="accent" *ngFor="let t of q.tagsString">{{t}}</mat-chip></p>
        </div>
    </mat-card-content>  
</mat-card>

<footer>
    <p>Couldn't find your answer?</p>
    <button mat-raised-button color="accent" [routerLink]="['/questions/ask']">Ask a Question</button>
</footer>