/* top section for search */
.fullwidth {
    width: 95%;
    margin: 20px auto;
}
    .searchbar {
        width: 100%;
        height: 35px;
        padding: 5px 3px;
        border-radius: 3%;
    }

/* for each question */
mat-card {
    box-sizing: border-box;
    width: 95%;
    margin: 15px auto;
    padding: 2%;
}
    /* question title */
    mat-card-title {
        margin-top: 15px;
    }
    /* question body (truncated) */
    .questionText {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    /* question answers/votes summary */
    .summary {
        text-align: center;
    }
    /* asked by/when info */
    .smallinfo {
        font-size: 80%;
        color: gray;
    }

/* ask a question footer */
footer {
    text-align: center;
    margin-bottom: 20px;
}

/* for further filtering by tags
.checkbox {
    font-size: 80%;
    margin-right: 10px;
}

.taginfo {
    font-size: 80%;
} */